body{
    padding:0px;
    margin:0px;

}
nav,.nav-links{
    display:flex;
    justify-content: space-evenly;
}
h1{
    color: cadetblue;
}
.nav-links{
    list-style-type: none;
    justify-content: space-evenly;
   
}
li{
    padding: 5px 0;
}
 a{
    text-decoration: none;
    margin:0 30px;
    font-size: larger;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.color{
  height:20vh;
  text-align: center;
  background-color:black;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    color:black;
    background-color: white;
    border:2px solid black;
    width:10vw;
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}